body {
  background-color: #f5f5f5;
}

.border-header {
  border-bottom: solid 2px;
}
.cards-container {
  width: 920px;
  min-height: 200px;
  background-color: #357960;
  border-radius: 30px;
}
.spacing-card {
  padding-top: 80px;
}
.cursor-pointer {
  cursor: pointer;
}

.container-content {
  width: 90%;
}

.data-highlight {
  font-weight: 700;
  font-size: 24px;
}

$primary: #357960 !important;
$secondary: #cda79e !important;
$light: #d5f7eb !important;
$dark: #273832 !important;




